body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4ede4;
}

header {
  background: #1B4965;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

.header-container {
  text-align: center;
}

.logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo-area img {
  width: 180px;
}

.logo-area h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.logo {
    width: 180px;
    margin-bottom: 10px;
}

header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

header p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 2px;
  opacity: 0.9;
}

nav {
  background: #62B6CB;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #FFFFFF;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover{
    color: #1B4965;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel img {
  width: 100%;
  display: none;
}

.carousel img.active {
  display: block;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

.buttons button {
  background: #62B6CB;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttons button:hover {
  background: #1B4965;
}

.destinos {
  padding: 20px;
  text-align: center;
  color: #0d3b57;
}

.card {
  background: #FFFFFF;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  width: 250px;
  border: 1px solid #62b6cb;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imgCard{
    width: 200px;
    border-radius: 5%;
}

.pacotes {
  text-align: center;
  padding: 30px;
  color: #0d3b57;
  background-color: #E6D8C9;
}

.pacote {
  background: white;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  width: 220px;
}

.pacote button {
  display: block;
  margin: 10px auto 0;
  background: #62B6CB;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.imgPac{
    width: 200px;
    border-radius: 5%;
}
.avaliacoes{
    text-align: center;
    padding: 40px 20px 0px 20px;
    color: #0d3b57;
}

.avaliacoes h2{
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}
.avaliacoes-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto 0;
  max-width: 1000px;
}

.avaliacao {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avaliacao span{
    display: block;
    margin-top: 10px;
}

.cta {
  background: #1B4965;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.cta h2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.cta button {
  background: #62B6CB;
  border: none;
  padding: 12px 25px;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cta button:hover {
  background: #5FA8D3;
}

footer {
  background: #1B4965;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 180px;
}


